/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
body{
	margin:0px;
}

p:first-child{
	margin:0px;
	color:white;
	background-color:black;
}

p:nth-child(2){
	
}

p:last-child{
	color:red;
}

#list{
	background-color:grey;
	width:50%;
	padding:10px 1;
	margin:30px;
}
ul {
   /* remove bullets */
  padding: 0;
  margin: 20px 0;
}
ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

ul li:nth-child(odd) {
  background-color: white;
}

ul li:nth-child(3), ul li:nth-child(4),ul li:last-child{
	background-color:pink
}